<!DOCTYPE html><html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
{% if meta.description %}
<meta name="description" content="{{ meta.description|striptags }}">
{% endif %}{% if meta.robots %}
<meta name="robots" content="{{ meta.robots }}">
{% endif %}
<link rel="stylesheet" href="{{ theme_url }}/css/style.css" type="text/css">
</head>
<body>
<nav class="nav" tabindex="-1" onclick="this.focus()">
<div class="container">
<a class="pagename current" href="{{ "index"|link }}">{{ site_title }}</a>

<a href="?blog">blog</a>

</div>
</nav>
<button class="btn-close btn btn-sm">×</button>

<div class="container">
{{ content }}
<!-- <script src="https://cdn.jsdelivr.net/npm/min@0.2.2/dist/min.js" integrity="sha256-oDAsONPqBbln1To0cuU04eaUyr7/qJzLA5tLE2m3PO8=" crossorigin="anonymous"></script> -->
</div>
</body>
</html>

